# Neighborhoods in Toronto 

Let's import our libraries.

In [16]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np


print('all import')

all import

# Question 1:

In [30]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = urllib.request.urlopen(url)

soup = BeautifulSoup(page, 'lxml')
# type(soup)

table = soup.find('table')
# print(table)
table_rows = table.find_all('tr')

l = []

for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)

df = pd.DataFrame(l, columns=['Postal Code', 'Borough', 'Neighborhood'])
df = df.replace({'\n':''}, regex=True)

,Postal Code,Borough,Neighborhood
0,None,None,None
1,M1A,Not assigned,
2,M2A,Not assigned,
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
...,...,...,...
176,M5Z,Not assigned,
177,M6Z,Not assigned,
178,M7Z,Not assigned,
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
180,M9Z,Not assigned,

## Replace 'Not assigned' to NaN for delete this rows quickly.

In [32]:
df.replace('Not assigned', np.nan, inplace=True)
df.head()

  Postal Code     Borough      Neighborhood
0        None        None              None
1         M1A         NaN
2         M2A         NaN
3         M3A  North York         Parkwoods
4         M4A  North York  Victoria Village

In [35]:
# Delete all NaN values and reset index.
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [45]:
# If exist a 'Not assigned' Neighborhood, the Neighborhood take the same name of the Borough.
df.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df['Borough']
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [51]:
# Combined neighborhoods
df_toronto = df.groupby('Postal Code', sort=False).agg(', '.join)
df_toronto = df_toronto.reset_index()
df_toronto.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [52]:
df_toronto.shape

(103, 3)